[2018-09-14 12:35] wwiecek opened #1 "bring Rubin and mutau models into the same script"
currently rubin.stan is just a 1-dimensional version of mutau.stan; they should be merged into a single .stan script

[2018-10-05 10:51] wwiecek opened #3 "8 schools vignette"
Should feature all of baggr functionality, probably the best default type of presentation aimed at new users - many of whom will know 8 schools already. It's should be a gentle dive into the package but also show that it's fully featured & flexible.

* Visually compare different pooling types
* View pooling metrics
* View LOO CV summary
* Show posterior dist. of variance parameter; change its prio

[2018-10-05 12:28] wwiecek opened #4 "standardisation and cross-validation need to work together"
If user is using standardised data, they need to be standardised before splitting into testing and training datasets - currently this is not implemented.

[2018-11-02 16:01] wwiecek opened #5 "clearly label 2nd level parameters"
We need to choose and consistently apply rules about what is denoted by y's, mu's, taus, alphas, betas, sigmas and thetas. Yes, it's that many parameters!

[2018-11-23 17:47] wwiecek opened #6 "add cross-validation for quantiles models"

[2019-01-10 17:38] wwiecek commented on #6
Also needs improved LOO CV documentation

[2019-01-11 16:23] wwiecek commented on #6
Problem is that studies should be excluded, not individuals, if ind. level data is supplied

[2019-01-11 16:34] wwiecek opened #7 "Warn in low-dimensional cases"
If N = 2 we should consider stopping people from meta-analysing
If N = 3 we should suggest a prior for scale (half-Cauchy)

That means we also need to implement half-Cauchy

[2019-01-11 16:38] wwiecek commented on #7
Prior for scale parameters in hierarchical models
Gelman (2006) suggested half-Cauchy with mode at 0 and scale set to a large value (in the 8-schools example, we used the value 25), or with the scale estimated from data in a hierarchical-hierarchical setting in which there are many variance parameters which can be given a common prior.
The Gelman (2006) recommendations may be too weak for many pur

[2019-01-31 11:34] wwiecek opened #8 "quantile modelling vignette"
Show how to run quantiles on microcredit data + plotting and output options

A chance to check 1/ pooling, 2/ cross-validation in case of quantiles?

[2019-01-31 11:53] wwiecek opened #9 "rewrite old Stan code"
Problem #1 is to check if this is a problem: `Left-hand side of sampling statement (~) may contain a non-linear transform of a parameter or local variable.`

Problem #2 is to modify individual-level models that create sufficient statistics... are they faster anyway?

[2019-01-31 12:02] wwiecek opened #10 "introduce versioning"

[2019-05-17 11:36] wwiecek opened #11 "Jacobian on the left hand side"
e.g. in quantiles.stan

[2019-05-23 21:58] wwiecek commented on #6
Data is now selected on group-by-group basis, but I still didn't implement the LOO CV for quantiles

[2019-05-23 22:09] wwiecek opened #15 "re-enable prepare_ma()"
In cases where no covariates are present, we will cnvert individual-level data to summaries.

[2019-05-29 19:28] wwiecek commented on #10
We start with 0.0.0.9000, first release will be 0.1 and is outlined on the project Basecamp

[2019-05-29 19:28] #10 closed

[2019-06-05 18:32] be-green opened #16 "Rubin Model Speed"
The Rubin Model is quite slow compared to a stripped down version.

At first I thought there might be overhead (depending on the implementation) from the if-else statements that are embedded in the current implementation of the model. At the same time, the Stan manual says that if-else is lazily evaluated so it shouldn't be a huge performance overhead (at least not relative to the time it takes to

[2019-06-07 20:28] wwiecek commented on #6
LOO CV for quantiles is now included and stable but the overall review of `quantiles.stan` is still pending. Once the model works well I'll close this.

[2019-06-09 01:29] wwiecek commented on #16
Hi, thanks for checking this! You can see that there is no slow down in baggr, i.e. this runs fast:
[code]

In my code `tau_k` is of dimension 0 if there's full pooling, see `rubin.stan`:18-22

Your example is slow not because it contains superfluous parameters, but because they are unconstrained. If you do `tau_k ~ normal(0,1)` then there is no slowdown.
There is one case in my code where we have

[2019-06-09 20:47] be-green commented on #16
Oh, it must have happened during the reparameterization because tau_k no longers matters for the model (it all depends on theta). So you suggest just putting a prior on tau_k for the partial pooling model to help constrain it?

[2019-06-09 21:00] #16 closed

[2019-06-10 14:18] wwiecek commented on #16
Tau_k already has a distribution in the partial pooling model. To summarise:

1 I imagine for almost any model if we add superfluous parameters with no
priors, convergence will be poor.
2 That is not the case for partial pooling, because tau_hat_k, tau_k and
tau all have sensible distributions.
3 For model with no pooling tau_k is set to dimension 0 so there is no
problem either.
4 For model with

[2019-06-10 14:34] be-green commented on #16
Hey, sent you an email too, but tau_k no longer has a sensible distribution in my reparameterized model. This might not be an issue in your implementation and could probably be fixed with some proper labeling.

[2019-07-05 14:00] be-green opened #18 "mutau model crashes R session"
I was trying to figure out how to work with the various models and I found that when I ended up repeatedly crashing my R session. As a test I ran prepare_ma with the simplified microcredit dataset, and when I plugged that into the mutau model it began sampling and then crashed. Here's my code:

[code]

Sometimes it crashes right away and sometimes later. This seems like an issue on the Stan side s

[2019-07-05 17:51] be-green commented on #18
It seems to consistently crash as soon as warmup ends (after the 1001 draw). I'll do more testing, but I can't find an existing issue with rstan that covers this. It looks like the full pooling model works fine but the partial and no-pooling models break.

[2019-07-16 23:33] EdJeeOnGitHub commented on #18
When you run `baggr` with `chains = 1, verbose = TRUE` do you get any error output or does it still just crash the R session?

[2019-07-17 00:09] be-green commented on #18
I don't get any error output. This is what it looks like.

![image](https://user-images.githubusercontent.com/23174585/61337996-2cb2f180-a7fd-11e9-8725-f3c42dc3f79e.png)

Is there a way to save a log file of some kind?

[2019-07-17 00:22] be-green commented on #18
Attached are my attempts at a log file using the sample_file argument. It looks like it just fails to create samples altogether... The diagnostic log had the same output.

[sampling.log](https://github.com/wwiecek/baggr/files/3399549/sampling.log)
[diagnostic.log](https://github.com/wwiecek/baggr/files/3399550/diagnostic.log)

[2019-07-17 02:22] EdJeeOnGitHub commented on #18
Forgive me if you've already done this, but have you tried running `pkgbuild::has_build_tools(debug = TRUE)` (this should return TRUE) and checking that the C++ toolchain is correctly installed?

[2019-07-17 02:51] be-green commented on #18
I haven't, but the other models all work for me. This is just the mutau model for me, the rubin and quantiles models work fine. I have RTools installed, I can run my own stan models, I can run these stan models, and compile the package just fine.

pkgbuild::has_build_tools(debug = TRUE) returns true. So does has_rtools, etc.

[2019-07-17 02:59] EdJeeOnGitHub commented on #18
That is very strange.

I thought maybe it could be the sufficient statistic function causing problems but that's not even in the mutau model.

I don't have access to a Windows machine so I can't really replicate this either, I'm afraid.

I believe Rachel uses a mac and I'm not sure about Witold so it's possible this is a Windows specific issue and you're the first to come across it. :(

[2019-07-17 09:12] wwiecek commented on #18
Hi both,

* It doesn't replicate for me.
* We have consistently tested on Windows so it's not OS specific.
* FYI, the way that error occurs ("R session aborted") is typical for compiled code error (i.e. for many packages that run C++/C code). If you run R from command line it will be less dramatic but you will also see R crash.
* Crash when going into warmup would also indicate Stan problems rathe

[2019-07-17 12:08] be-green commented on #18
Yeah that's what I was thinking too! I'll download an earlier version of R and test. I've never seen this with any stan models, couldn't figure out anything wrong with the code, and can't find anyone else who has had the issue with stan (in any package or rstan or cmdstan). If no one else can replicate then it is probably a low priority issue, I just figured it was good to flag!

[2019-07-17 13:02] be-green commented on #18
Ok, so I rebuilt the package in 3.4.4 and got a much more informative error message--the dimensions of one of the prior objects in the standata list didn't match what Stan expected. Perhaps there's a dev version that I don't have access to that makes this work? I'm pretty sure my build is current with the master.

I broke my 3.4.4 install as I did this so I'll try to remedy that and post the detai

[2019-07-17 13:07] wwiecek commented on #18
Hi Brice, thanks if you can share the log but indeed this is lower priority
so please don't waste much of your time on this - I'd feel bad for you as
it won't be another few weeks at minimum that I'll look at this model
again.

On Wed, 17 Jul 2019, 14:02 be-green, <notifications@github.com> wrote:

[2019-07-19 17:10] #15 closed

[2019-07-19 17:11] #9 closed

[2019-07-19 17:12] #6 closed

[2019-07-22 11:34] wwiecek commented on #18
@be-green after testing the package and reading about Stan 2.18 bugs I think your problem may be solved by upgrading to Stan 2.19 (try with R >= 3.5.3); error in R 3.4.4. that you reported might be something else (it's also possible that I broke `mutau` a few days ago while fixing some priors, as the tests for that model are disabled right now)

Please let us know if you have a chance to look into

[2019-07-22 18:13] be-green commented on #18
Sounds good, I'll post an update once I get a chance to test.

[2019-07-22 21:46] be-green commented on #18
Updated my rstan version and a number of my other packages, cleaned up my install, and it's working just fine! Or at least it isn't crashing my R session...

![image](https://user-images.githubusercontent.com/23174585/61667670-40000a00-aca0-11e9-9df9-53e0fefcb445.png)

[2019-07-22 21:46] #18 closed

[2019-08-20 16:29] be-green commented on #7
RE: N = 2, I don't know if this is a good option, but Andrew Gelman discusses multilevel models with 2 groups [here](https://statmodeling.stat.columbia.edu/2015/12/08/hierarchical-modeling-when-you-have-only-2-groups-i-still-think-its-a-good-idea-you-just-need-an-informative-prior-on-the-group-level-variation/) and argues that it's fine but you need an informative prior on the between-group sd. Ma

[2019-08-22 06:50] wwiecek commented on #7
The problem is more about A) users who don't know what they're doing
supplying data that is not formatted correctly (so N=2 is just a glitch),
B) trying to set a prior automatically based on just 2 data points (for now
the default prior is scaled with regards to dispersion in inputs).
We can be extra careful on B), but nevertheless there should be a warning.

On Tue, Aug 20, 2019 at 5:29 PM be-gre

[2019-10-07 16:29] wwiecek opened #20 "Prior and posterior predictive functions"
This is a placeholder for the ppc checks / ppd functionality in baggr, to be added for the "rubin" and "mutau" models in Oct.

WW will review some ideas from #19 as the first step, then add a detailed plan here.

[2019-10-07 16:32] wwiecek opened #21 "New way to specify priors"
Once #5 is complete, we will introduce a new naming convention for priors in the model, probably with `rstanarm` style function-specifications for priors, e.g. `normal()`, `cauchy()`. @rmeager will suggest list of priors that we want to allow for various parameters (in "rubin", "mutau") at this stage.

[2019-10-07 16:40] wwiecek opened #22 "8 schools checks of correctness"
@be-green had a check for correctness for the Rubin model that used 8 schools result (it worked fine), I hope he can add it as a pull request before end of Oct

[2019-10-07 17:00] wwiecek opened #23 "Apply arbitrary transform to treatment/study effects"
When plotting, printing results, at a minimum we want to apply exponential transform to results. In future, any function should be allowed.

[2019-10-07 17:01] wwiecek commented on #23
(This issue might also require extracting the data frame with effects, i.e. having such df accessible outside of `print.baggr`

[2019-10-07 17:02] wwiecek opened #24 "order=FALSE does not work in baggr_compare?"

[2019-10-07 17:03] wwiecek opened #25 "Plot main effect alongside group effects"
This is somewhat similar to forest plot.

As a part of this enhancement, we should also check how easy it is to export baggr results as input into "default" forest plot in R.

[2019-10-07 17:04] wwiecek commented on #20
Some inspiration: http://khakieconomics.github.io/2017/04/30/An-easy-way-to-simulate-fake-data-in-stan.html

[2019-10-07 21:08] be-green commented on #22
I've finished implementing that test, it should be in my current pull request. I'm trying to fix it, but I'm running into build issues on my local machine, so I'm going to have to likely re-install the whole C++/RTools setup and might need to reset my R/Rstudio. I'll flag this for closing this once that's accepted.

[2019-10-08 12:44] wwiecek commented on #22
@be-green Sorry, can you let me know where it is exactly? I only see the test for loo, but I thought there would be another test against a matrix of school-specific means (for no pooling, partial, full).
I guess LOO being same as in publications is almost definitely sufficient condition for the estimates of school-specific means to match, but it's good to test for it separately, because the revers

[2019-10-08 13:47] wwiecek opened #26 "Fix divergent transitions in no pooling and full pooling models"
This has to do with superfluous parameters, the fix is partially done in one of development branches, but flagging it up here in case this gets complicated.

[2019-10-08 14:37] be-green commented on #22
Yeah, I'll break it out as a separate testing script to make it clearer. I didn't include tests for no pooling and full pooling, but I can throw that in pretty easily.

[2019-10-08 20:05] be-green commented on #22
@wwiecek I just pushed to the same branch with a version that breaks out the 8 schools check vs. brms. I haven't added no-pooling and full-pooling versions since I think those are pretty straightforward models. I can fit those and add a unit test if you think it's necessary.

[2019-10-17 10:36] wwiecek opened #27 "Make sure that inherits() is used, rather than class()"
For checking for classes of objects we need `inherits(bg, "baggr")`

[2019-10-18 17:12] wwiecek opened #28 "Update priors documentation"
Three docs contain info about prior:
1) `?baggr`
2) `?normal` etc. (a single file with prior definitions)
3) `baggr.Rmd` with the following text:

As discussed above, it is possible for the user to override the default priors and specify her own priors. The first parameter you can change is the upper bound of the uniform prior on $\sigma_{\tau}$, called `"prior_upper_sigma_tau"`, the second is the

[2019-10-23 12:48] wwiecek opened #29 "Standardise output of `baggr_compare`"
Currently it's a mix of `print` _within_ the function (bad!), `ggplot` output and numerical output.
We definitely need to have a `print.baggr_compare` S3, perhaps also plotting method. The output should be minimal.

[2019-10-23 12:49] #28 closed

[2019-10-23 12:49] #26 closed

[2019-10-23 12:55] wwiecek opened #30 "Check consistent use of hypervariance vs hyper-SD"

[2019-10-23 13:03] wwiecek opened #31 "Rewrite "full" model from scratch (priors, mixed effects, logpd)"

[2019-10-23 17:12] wwiecek commented on #7
There is now a warning for small N,  but the default prior is unchanged -- worth revisiting this and setting a different prior (see text above)

[2019-10-23 17:12] #21 closed

[2019-10-23 17:13] wwiecek opened #32 "Add student-t priors"

[2019-10-23 17:15] #27 closed

[2019-10-28 13:11] rmeager commented on #30
We want to move everything to hypersd in all our documentation and vignette, correct? I can do this today if yes. Currently I see a mix of hypervar and hypersd.

[2019-10-28 13:26] rmeager commented on #30
Oh wait, I see the distinction you've made between hypervar (for mutau) and hypersd (all else) in the baggr function documentation. I can / have started cleaning up the rest of the documentation and vignette to align with that, but let me know if you'd rather move everything to hypersd terminology.

[2019-10-28 19:21] wwiecek commented on #31
The basics of it work in v0.2, but the plain-text setting of priors does not. This will be done for the next release.

[2019-10-28 19:21] #30 closed

[2019-10-28 19:22] wwiecek commented on #22
This is done. I increased tolerance 20% as on one of the servers the results didn't match that closely.

[2019-10-28 19:22] #22 closed

[2019-10-28 19:23] wwiecek commented on #20
This is not done through `baggr(ppd=TRUE)` and `effect_` functions.

[2019-10-28 19:23] #20 closed

[2019-10-28 19:23] #5 closed

[2019-10-28 19:30] wwiecek opened #34 "Add predict. methods and pp_check()"
The idea is to do a posterior predictive check against the original input data. That means

* `predict()` function that returns new draws for original data
* `pp_check()` function that visualises this (using `bayesplot` functionality)

The first pass at it (thanks to Brice) is in `devel-predict`. It works nicely with Rubin model, but

* doesn't work with mu & tau model
* lacks some documentation
*

[2019-10-28 19:31] wwiecek opened #35 "Refresh LOO CV part of the vignette."

[2019-10-28 19:33] wwiecek opened #36 "Ensure code coverage for cases of if(model == "full")"

[2019-11-04 10:16] wwiecek opened #37 "Do not use Uniform as default prior for Rubin model"
Currently if I do
[code]
`schools` is used to draw a default prior and Stan model is done on priors only (data ignored).
I can also do this:
[code]
In this case `schools` only suggests that `model="rubin"`, as all priors are specified manually. So it makes sense to have this syntax:

[code]

Alas, this is not something I thought of before.

[2019-11-17 17:32] be-green commented on #37
Simulating the uniform without constraining the parameter seems to run into a lot of divergent transition/maximum treedepth warnings. I'd suggest perhaps constraining the parameter or simulation from a standard normal and transforming it? Or just telling people not to use uniform priors at all. :)

This is the transformation approach I tried

[code]
We would need to somehow identify that people we

[2019-11-18 10:59] wwiecek commented on #37
@be-green thanks! I think we would need to check with Stan devs in case there is another workaround for uniform, but a priori this seems good
I think this whole issue should be a part of a bigger PR, with the plan going like this:

1) Replace uniform with Gaussian-based alternative in Stan code, keeping old models for testing
2) Run a comparison (uniform vs Gaussian-based uniform) e.g. on 8 school

[2019-11-18 11:16] wwiecek commented on #7
We now have automated warning on setting default priors for N=2, N=3, but we do not stop anyone.

[2019-11-18 11:16] #7 closed

[2019-11-18 11:25] wwiecek commented on #29
@be-green this is one potential PR we discussed!

[2019-11-18 12:44] be-green commented on #29
I can have a PR for this in the next day or two.

[2019-11-18 12:46] be-green commented on #37
We could also just incorporate constraints on any parameter with a uniform prior? I'll look at how the new prior logic is implemented to see if that is workable.

There's no density outside of the bounds anyway, so it makes sense to formalize the constraints. Plus if anyone looks at the stan code it'll likely make more sense to them and we wouldn't need to change anything in the "model" section.

[2019-11-18 12:51] wwiecek commented on #37
The approach to priors will be re-done. Right now it's a proof-of-concept long branching of if-then statements. So within scope of this PR would be replacing lines with uniform() with your idea.

In the near future I want it to be a get_prior() function inside .stan, because the same if-then statements need to be recycled across models & parameters.

BTW, if you're insterested, I'm happy for you t

[2019-11-28 16:20] wwiecek commented on #25
This is now done, but it would be good to see if we can e.g. change the colour.

[2019-11-28 16:21] wwiecek commented on #25
@be-green It's not a priority, but maybe you know how to do it? It's about changing the colours for a specific row in bayesplot

[2019-11-28 16:33] be-green commented on #25
I'll take a look! Doesn't seem to crazy, do you have an example of what you'd want it to look like?

[2019-12-13 12:07] wwiecek commented on #25
@be-green sorry, I missed your comment at the time -- I think it would be a standard plot, e.g.

[code]

but now I want to have red lines for Schools 1-4 and blue lines for Schools 5-8

[2019-12-13 13:04] #23 closed

[2019-12-13 14:12] wwiecek commented on #35
@be-green we discussed this informally, the goal would be to read the vignette and nicely describe the tweaks you made to `loocv()`... You can harmonise that text with your `?loocv`. Once you're happy with it, I will review.

* You need to update the example in `?loocv` too, the "attributes" part is wrong.
* You should add a Gelman reference in `?loocv`
* The rounding of values is not good, at the

[2019-12-13 14:15] wwiecek opened #39 "Add an overall pooling metric"
Currently `pooling()` returns Gelman-Pardoe (1-I^2) style metric for each study. We want I^2 for the entire model.

[2019-12-13 14:19] be-green commented on #35
This all sounds reasonable, I'll try to make those changes this weekend. The rounding sounds especially glaring! I'll take a look.

[2019-12-13 14:27] wwiecek opened #40 "baggr_compare: hyper=T doesn't do anything"
Currently `compare = c("groups", "effects")`, where `effects` is a "hypothetical study" (`effect_draw`).

I'd like to add:

* hypermeans (Basically show what is currently returned as first table)
* hypersds (second table)
* groups + hypermeans (what you would get with `baggr_plot(model, hyper=TRUE)`, but now for many models)

PS: And these tables need to be outputted differently, as per the other

[2019-12-16 14:48] be-green commented on #35
I'm also adding a loo_compare method (similar to [this](https://mc-stan.org/loo/reference/loo_compare.html)). I'll hopefully have a pull request in soon.

[2019-12-17 14:32] be-green commented on #35
@wwiecek which Gelman reference did you want? The pull request is ready otherwise.

[2019-12-18 16:40] wwiecek commented on #35
It is in PR review

[2019-12-18 16:46] wwiecek opened #42 "Vignette for model convergence checks + some automated (?) tests"
Currently we have 1 continuous, 1 binary data vignettes, but neither shows how users should check convergence. I think there should be a short section about

1) What could go wrong
2) When users should check for problems
3) What plots to produce, what could a "basic" user without understanding of Bayesian inference do

[2019-12-20 17:20] wwiecek opened #43 "Test that pooling in IPD models is same as in summary-level models"

[2019-12-20 17:32] wwiecek commented on #39
THis is now done as `devel-pool`, just needs unit testing.

[2019-12-24 02:36] be-green commented on #40
@wwiecek, Perhaps I can take this along with the other baggr_compare PR?

[2019-12-24 03:53] be-green opened #44 "Allow users to specify different column names for effects"
One of the things that confused me when I first read through the documentation for this package was that the treatment effect was name tau and the variance was sigma_tau. On the rstan getting started page, for example, where they list the 8 schools example, what we call tau_k they call y_i. What we call sigma_tau they call tau! Anyway I just thought it might be good to allow people to list the col

[2019-12-24 03:55] be-green opened #45 "mutau crashes my R session"
No idea why this is happening but it's really fun... Will update/edit when I get more info...

I was trying to work on the predict pull request and implement the predict function for mutau but it's crashing locally for me. Maybe a memory issue? I remember some weirdness with my compiler optimization, but I don't think that would cause this. Anyway I'll report back.

[2019-12-24 04:12] be-green commented on #45
Rebuilt and it's magically fixed.

[2019-12-24 04:12] #45 closed

[2019-12-24 04:29] be-green commented on #1
@wwiecek Instead of bringing them into the same script might we want to re-parameterize mu-tau the same way we did for the rubin model. I'm getting the same divergence/low ESS warnings that I was getting with the rubin model before we added in eta.

[2019-12-27 18:12] wwiecek commented on #1
Yes, it could use a reparameterization. It's actually easy to do, I didn't do it (as far as I remember?) because that mutau model is not very important to me at the moment. I guess it should happen eventually.

But hey, bringing them into the same script would take care of reparameterization.

[2019-12-27 18:14] wwiecek commented on #40
If easy to do, then sure!

[2019-12-31 12:23] wwiecek opened #46 "Cross-validation for full and logit models"
We need to check and harmonise three cases

1. CV with the same groups as already included
2. CV for new groups
3. Mixture of 1. and 2.

All of this will need tests

[code]

[2020-01-01 17:41] be-green commented on #1
Alright I'll take a look at the description/code for the mu-tau model and see how easy this is. Even if we aren't going to use it right away I think it's good to make it work a little better. INot as familiar with this model so it may take a bit.

[2020-01-01 19:08] be-green commented on #34
I'm working on this as we speak! Hopefully something functional by the end of the month now that I have more time post-holidays...

[2020-01-01 19:41] be-green commented on #29
This is almost ready, but I need to include the change in display of hypermeans and add additional tests. Hopefully done in the next day or so.

[2020-01-02 10:40] wwiecek commented on #11
This is still waiting for quantile models to be "properly" enabled in the CRAN release.

[2020-01-02 10:42] wwiecek commented on #39
This is now in `devel`, but probably needs correctness checks.

[2020-01-02 11:01] wwiecek commented on #1
I need to make changes to the models because I realised that sometimes the effect is `real[]`, and sometimes it's a `vector`, so let me know when you're planning to do this, I'd rather update the model before you work on it so that we don't double the work.

Maybe you want to have a look at this after your predict PR?

[2020-01-02 11:01] wwiecek commented on #34
Thanks!

[2020-01-02 11:03] wwiecek commented on #29
Cool. Sorry if stating the obvious OR if saying this too late, but `baggr_plot` has `hyper` argument, maybe this can be the same in `baggr_compare`? Good if the two functions were harmonised in some sense.

[2020-01-13 11:32] wwiecek opened #48 "Check documentation of model="logit""
I think it's omitted in `?baggr`. The generic vignette also doesn't include it.
Where else should we document it?

[2020-01-17 11:45] wwiecek opened #49 "Don't set SD prior if pooling="full""
Simple, you can see the problem even with `baggr(schools, pooling = "full")`.

[2020-01-23 14:39] wwiecek commented on #46
@be-green this is the part we discussed

[2020-01-23 14:40] wwiecek commented on #48
@be-green if you're looking at logit for posterior have a look here

[2020-01-24 16:54] wwiecek opened #50 "Allow baggr_compare()'ison of covariates (fixed effects)"
Once the next PR is done

[2020-01-24 17:52] be-green opened #51 "Document rstan::sampling() arguments"
It may be necessary for people running meta-analysis models with low data to change the adaptation parameters or number of iterations. Right now all of those are hidden within the `...` arguments to baggr(). It might be good to have this documented for users who are unfamiliar with rstan, or who just forget these kind of things. I'm happy to take this on as a pull request.

[2020-01-24 19:16] be-green opened #52 "Possible compilation issues in Windows"
I really don't know what's going on with all these models, but both MuTau and Logit now crash my R session. I'll post updates as I try to debug the behavior...

[2020-01-24 19:31] be-green commented on #52
This is the code I ran to make it break. It starts sampling and then breaks.

# prepare_ma for binary data
df_pat2 <- data.frame(treatment = rbinom(900, 1, .5),
                      group = rep(paste("Trial", LETTERS[1:10]), each = 90))
df_pat2$outcome <- ifelse(df_pat2$treatment, rbinom(900, 1, .3), rbinom(900, 1, .15))

baggr(df_pat2)

My Makevars file is set according to the old rstan wiki adv

[2020-01-24 19:49] be-green commented on #52
Rebuilt with the new makevars but it still isn't working. The diagnostic file shows that sampling doesn't even start. Honestly I'm not sure what to do about this, @wwiecek if you have any insight I'd appreciate help.
[err.txt](https://github.com/wwiecek/baggr/files/4110400/err.txt)

[2020-01-24 21:03] be-green commented on #52
It works when I compile the model in an interactive session, but still repeatedly crashes from the loaded object.

[code]

[2020-01-24 21:05] be-green commented on #52
Update: when I install from CRAN that version also works fine. Must be an issue with my compiler.

[2020-01-24 22:42] be-green commented on #52
Ok I changed my settings back to what they were, and used -march=corei7 instead of -march=native and that seemed to work. I'll recompile a few times and see if that's really what made the difference or if I got really lucky...

[2020-01-24 22:49] be-green commented on #52
Yes, this is replicating, closing now.

[2020-01-25 17:28] be-green commented on #42
@wwiecek This is partially addressed with [this pull request](https://github.com/wwiecek/baggr/pull/53). I can add in plots for visual diagnostics too if that'd be helpful.

[2020-01-25 17:28] be-green commented on #51
I [have a pull request[(https://github.com/wwiecek/baggr/pull/53) that puts together a brief overview of what the common warnings are that you get with baggr models and how to address them by tweaking parameters.

[2020-01-25 17:30] be-green commented on #50
Fixed effects meaning pooled treatment effects? Fixed effects (as a term) is confusing for economists because it refers to a non-parametric approach to estimating unobserved average differences between individuals! So kind of like random effects as most other people use it.

[2020-01-26 14:56] wwiecek commented on #52
I had similar problems and similar conclusions. This is likely a WIndows & Intel processors issue that has been mentioned by Stan devs in a few places. Likely changing CXX14FLAGS will have an impact, because the compiler tries to use C++ 14 standard.
I will keep this open for a while longer.

[2020-01-26 14:59] wwiecek commented on #52
BTW You need triple backticks when quoting code.

[2020-01-26 15:13] be-green commented on #52
Fixed the formatting!

[2020-01-30 13:34] wwiecek commented on #52
I changed `native` to `corei7` for my `.R/Makevars.win` and haven't had any crashes yet

Will keep this open for a while longer, just in case. I think there will be some `Makevar` changes (within package, i.e. `src/`) in the coming months, to do  with 2.19.3 and Rcppparallel

[2020-01-30 14:31] be-green commented on #52
Yay! And that's a much better name. Previously I'd get random crashes with the mutau model--I can run both a bunch of times under the new settings and see if it's fixed.

[2020-01-30 15:41] #49 closed

[2020-01-30 15:44] wwiecek commented on #39
Exploring this further, I see now that there are many possible choices for how to calculate I^2. This is now on backburner and documented elsewhere.

[2020-01-31 15:13] wwiecek opened #54 "More priors in the "mutau" model"
Currently you can only specify i.i.d. priors for SDs and a join multi-normal prior for hypermean. I have a new version of the model that is more universal, but the R code to specify priors would need rewriting.

[2020-01-31 15:16] wwiecek commented on #52
Great. But I rewrote mutau model (not in devel yet) so best if you test in February.

[2020-01-31 15:20] wwiecek commented on #50
[Fixed effects as in fixed and random effects](https://stats.stackexchange.com/questions/4700/what-is-the-difference-between-fixed-effect-random-effect-and-mixed-effect-mode). But, yes, I know about this confusion and won't be using FE/RE without explanation in the package.

[2020-01-31 16:55] wwiecek commented on #48
I have now added some mentions of logit in `?baggr`. I leave it to @rmeager to review the documentation before we close it. Rachael, the question is this: if my goal is to do log OR or logistic regression kind of model with the package, is there enough info on how to do it. There is a "baggr_binary" vignette that explains it, but assuming someone didn't memorise the vignette, can they find relevan

[2020-01-31 17:01] wwiecek commented on #44
I changed the notation within .stan models to

* theta_k for group-specific effects,
* mu for hypermean; if we are modelling multiple random vectors (like in "mu & tau" model), I just vectorise mu (so it's "mu[1] and mu[2]" model, with mu[1] being baseline, mu[2] being treatment; that model can work with more than 2 parameters)
* tau for hypersd (same as above, tau can be a vector)

@rmeager Are y

[2020-01-31 17:03] wwiecek commented on #39
@rmeager if you have a moment, could you check the current documentation of `?pooling` and `?heterogeneity` (and whether it's well-captured in vignette)? I changed & expanded all of them, but maybe not in a coherent way.

[2020-02-07 14:59] wwiecek commented on #11
@rmeager when testing the quantile models, it's useful to remember that this is a thing we will need to fix too

[2020-02-07 15:00] wwiecek commented on #8
This is a very old to-do, but I;m bumping it because we've been talking about quantiles again. Would be good to have a quantile modelling vignette that's in a way analogous to `vignette(baggr_binary)` (except for quantiles, duh)

[2020-02-07 15:02] wwiecek commented on #3
This could be done in the following way: take `vignette("baggr")`, separate general discussion of package capabilities (available models, available priors etc.) from the example parts (how to analyse continuous variables). The 8 schools vignette is everything to do with the latter category.

[2020-02-07 15:04] wwiecek commented on #1
@be-green I looked into merging mu&tau model with Rubin - and now I'm closing the issue. It can be done, but notation gets very messy. In the next version of baggr we will have the following:

* Rubin model which is a special case of mu&tau with P=1
* More generic model to replace mu & tau (P=2) with any number of (correlated) random vectors. It's simple in operation but notation is messy in compa

[2020-02-07 15:04] #1 closed

[2020-02-07 15:05] wwiecek commented on #24
@be-green I'm going through old issues. Have you seen this? Maybe this could be part of the baggr_compare PR you were working on? It's very low priority, though

[2020-02-07 15:07] wwiecek commented on #31
I reviewed the whole model, it should be written from scratch to include:

* New way of setting priors
* Regression syntax (fixed effects)
* Generated quantities

It's a simple mixed model syntax, so very easy to write, just need to use existing (Rubin/mu&tau) notation. I moved it forward a bit because it's lower priority.

[2020-02-07 15:08] wwiecek commented on #35
@be-green can we close this? Or did you have plans to change LOO CV still? I dropped the ball on this because I moved into new models without reviewing LOO CV in Rubin model thoroughly. Let me know if there's something I could do.

[2020-02-07 15:09] #36 closed

[2020-02-07 15:44] be-green commented on #24
I can add functionality and a test for that.

[2020-02-07 19:12] be-green commented on #35
As far as I remember this is done!

[2020-02-07 21:00] be-green commented on #24
This is now added in the pull request. I left the argument in the ... as it was before. I can specify it as a parameter if that's preferable. Up to you @wwiecek .

[2020-02-11 16:22] #35 closed

[2020-02-11 16:29] wwiecek commented on #24
Brilliant, I will close this once I reviewed and merged the whole PR.

[2020-02-13 13:11] wwiecek commented on #31
This is now done in `devel`

[2020-02-13 13:11] #31 closed

[2020-02-13 13:33] wwiecek commented on #46
For now I updated the `"full"` model to do cross-validation in the same way that `"rubin"` does. It will estimate SEs (using _s_) for out-of-sample groups. LOOCV fails

[2020-02-17 19:32] wwiecek opened #55 "Warn users if IPD does not have 2 levels of treatment"
[code]

[2020-02-20 17:34] wwiecek opened #57 "Different pooling in full model and Rubin model"
I thought that `full` would have similar pooling to `rubin`, but now I realise that estimating `sigma` in each group means the two models are different. Is there a way to reconcile this?

[code]

[2020-02-20 17:35] wwiecek opened #58 "Priors for sigma_y_k in full model"
Currently they are improper!

[2020-02-20 19:10] wwiecek commented on #40
@be-green the idea was to have the same option in `baggr_compare` as you have in `baggr_plot`, i.e. `hyper=`; in your latest PR there is no control over this. Would it be possible to add `hyper=` option to `baggr_compare`?

[2020-02-21 08:42] wwiecek commented on #34
`predict()` and `pp_check()` are now included for Rubin model in v0.4, but some documentation is still needed, as it is not explained what do these methods do, no examples are given;

I updated the S3 method to pass the checks, but haven't checked test coverage

[2020-02-21 10:01] wwiecek opened #59 "Better display for covariates in print.baggr"
![image](https://user-images.githubusercontent.com/20645798/75024318-1951be00-5491-11ea-933f-5bca27e162a8.png)

This doesn't even have the variable name

[2020-02-21 14:46] be-green commented on #40
Yes, I'll fix that.

[2020-02-21 16:57] wwiecek commented on #40
Thanks!
When you have a look, can we also have the same ordering as in `baggr_plot`? i.e. group-effects on top, pooled estimate at bottom; it's a convention that forest plots typically use, hence I wanted to keep it that way

[2020-02-21 16:59] wwiecek commented on #48
I think this is now done to acceptable degree in v0.4, @rmeager will make some suggestions at some point.

[2020-02-21 16:59] #48 closed

[2020-02-21 17:00] wwiecek commented on #44
This got pushed past v0.4 as we are still not agreed on what notation to best use. I think it would be good to change it before the next release because the models are beginning to be "set in stone" a bit.

[2020-02-21 17:03] be-green commented on #34
@wwiecek  Do we have notation for pull requests that just include docs or tests or hotfixes? Or are they all just devel-whatever?

[2020-02-21 17:03] wwiecek commented on #24
@be-green I tried `order=TRUE` with `plot(baggr_compare())`. Unfortunately I got this:

![image](https://user-images.githubusercontent.com/20645798/75054942-ff819c80-54cb-11ea-8504-6c5a3317e4da.png)

Let me know if you prefer to have a look at this, I'm happy to do it but giving you first dibs!

[2020-02-21 17:04] be-green commented on #24
OOH that's weird, I will look! Can you send me the code?

[2020-02-21 17:04] be-green commented on #24
I guess this is why we have devel branches!

[2020-02-21 17:05] wwiecek commented on #4
This is now a problem that I will continue pushing forward until we have a case study where we are working with e.g. change from baseline. (TUP Graduation case study could work.) Reason for this is that standardisation is, in turn, related to whether we are standardising by control/baseline or the whole group. (See `prepare_ma()` for examples.)

[2020-02-21 17:06] wwiecek commented on #34
`devel-whatever` I think, because this would be merging to `devel`?

[2020-02-21 17:06] wwiecek commented on #34
but happy to discuss a naming strategy for the future!

[2020-02-21 17:06] be-green commented on #40
Yes, I'll move this to the bottom. I'll put this all into a pull request today (hopefully) and try to push the changes.

[2020-02-21 17:07] wwiecek commented on #29
This is now done and can be closed. There is a couple of bugs relating to it in separate issues.

[2020-02-21 17:07] #29 closed

[2020-02-21 17:09] wwiecek commented on #24
Don't mention the long generation code, it's irrelevant, i.e. taken from other tests:

[code]

[2020-02-21 17:12] be-green commented on #24
Thanks, I'll take a look now.

[2020-02-21 17:12] wwiecek commented on #40
Thanks! Don't sweat it, though, this can wait until next release if you're pressed for time.

When you fix it, would be good to have it covered with unit tests (same as other arguments to `plot.baggr_compare`).
Even if not doing eyeball/graphical tests, you can often access relevant properties of ggplot objects, I think? And if not, checking that anything at all renders (`expect_is(..., "gg")`) is

[2020-02-21 17:23] be-green commented on #24
This issue seems to be that the mint() command isn't picking up the correct model name in this case. Not sure why, I'm still investigating. In one case it returns a matrix, in one case it returns a vector.
![image](https://user-images.githubusercontent.com/23174585/75056399-8f0f5700-549c-11ea-9093-de925b6b52d2.png)

This is making it drop the name from `Model 1`, and thus it isn't getting passed t

[2020-02-21 17:27] wwiecek commented on #24
Ah, I see! Glad we spotted this bug. `treatment_effect()` behaves differently for full data models.

I will fix it. But in the meantime I think you should not depend on that piece of code to store model name? Cause it's not a planned feature of it. All of the group labels, model names etc. you can access directly in `baggr` object structure.

[2020-02-21 17:29] wwiecek commented on #24
Another reason for not depending on `treatment_effect` behaviour is that actually its dimensionality (and whether it's vector, matrix or array) might change once we have quantiles modelling (because reasons). So I will need to rewrite a lot of code that calls on trt effect function anyway.

[2020-02-21 17:32] be-green commented on #24
Ok, so I shouldn't call on treatment_effect at all in baggr compare? I thought we'd previously discussed that I should default to using it... but maybe I'm just confusing a conversation about the predict.R branch.

[2020-02-21 17:32] wwiecek commented on #40
PS: You can check where you're lacking unit test coverage [here](https://codecov.io/gh/wwiecek/baggr/src/679e4640e5a9579c454664d84fa2d4f1e775aefe/R/baggr_compare.R)

[2020-02-21 17:36] wwiecek commented on #24
No, no, you should call on it! But you were talking about model names. `treatment_effect` is only designed to return values (vector or matrix).
If the problem is in that you want to treat that 1-row matrix as a vector, for now I'd wrap it in c(). That converts matrix row to a vector (dropping colnames).

[2020-02-21 17:53] be-green commented on #40
Ok, just implementing testing now. Fixed the bugs, made hyper = T do things, etc. Some of the stuff will need to be revisited or discussed, but it should work on the unit tests now at least. The only thing I'm actually worried about is the matrix vs. vector thing long-term. Maybe we can discuss how we expect `treatment_effect` to work in the long run on another forum or over skype?

[2020-02-21 17:56] wwiecek commented on #40
Yes, we will, but only once the quantiles models are in, because reasons. It's a bit of domino, basically. I will let you know when I plan to change it.

[2020-02-21 18:11] be-green commented on #24
I wasn't using treatment_effect to store names. I was calling `treatment_effect` across each model, and then using `rbind()` to combine the outputs of the mean treatment or sd of treatment effects. In the case where one element in `rbind` is a vector and the other is a matrix, it drops rownames, and thus the names of the models being stored in the list.

[2020-02-21 18:16] be-green commented on #40
This is fixed in the pull request I just submitted. Not sure how to tag it in here.

[2020-02-21 18:39] wwiecek commented on #24
ah, yes, so I'd just convert them all to vectors length 3, with no names even, then manually set the names after rbinding, just to be super-safe

[2020-02-21 18:44] wwiecek commented on #40
Yup, got it, will have a look

[2020-02-21 18:45] be-green commented on #40
Just refactored some stuff too for better test coverage, let me know if you have questions or thoughts.

[2020-02-21 18:54] wwiecek commented on #40
@be-green your tests fail, you can find check online here: https://travis-ci.org/wwiecek/baggr/

[2020-02-21 18:55] wwiecek commented on #40
[code]

[2020-02-21 18:55] be-green commented on #40
I guess that's what happens when you go too fast... I'll do more testing and push later then.

[2020-02-21 19:36] be-green commented on #40
Alright, this should be fixed now. The "effect plots" needed different tests from the "group" plots because their plotting method returns a single plot instead of a list of plots.

[2020-02-28 17:40] be-green commented on #59
What branch is this for? I assume meta-regression?

[2020-03-05 11:39] wwiecek commented on #59
Yes, but I will tackle this, it needs a few other changes that I didn't write up.

[2020-03-05 11:39] wwiecek commented on #59
BTW branches need a bit of a clean-up

[2020-03-05 14:46] be-green commented on #59
Ok, let me know how I can help.

[2020-03-09 10:21] wwiecek commented on #50
@be-green Is that in the current version?

[2020-03-09 10:21] #40 closed

[2020-03-09 10:22] wwiecek commented on #34
So currently this is working for Rubin but not for other models, right?

[2020-03-09 10:23] wwiecek commented on #25
@be-green I'm wondering if you had a chance to look into this?

[2020-03-09 10:24] wwiecek commented on #32
@be-green this one might be a nice addition if you have a moment! Adding a prior is very simple, but would be a good chance for you to see how the prior functions work? But it's not a priority

[2020-03-09 13:59] be-green commented on #50
Not sure what this means exactly, so I'm gonna say maybe but probably not? Is this in the case where we have covariates other than the randomly varying measurements?

[2020-03-09 14:00] be-green commented on #34
Yup!

[2020-03-09 14:00] be-green commented on #25
I haven't, but it seems pretty straightforward.

[2020-03-09 14:01] be-green commented on #32
This week is really bad for me school-wise, but after Friday I should have a bit more time to get some work done.

[2020-03-16 14:10] wwiecek commented on #50
Measurements themselves are not covariates. Don't worry about it, I'll add!

[2020-05-07 13:21] wwiecek opened #62 "plot.baggr_compare transformation is wrong"
The hypermean does not seem to have the transformation applied e.g. when running baggr_compare for logOR model and trying to apply `transform = exp`

[2020-05-07 16:12] wwiecek opened #63 "specifying baseline prob prior in logit model"
Currently `logit.stan:62` has

[code]

We should have one more category of flexible priors, i.e. `baseline ~`.
We could also consider a hierarchical baseline by analogy with "mu & tau" type of models

[2020-05-12 15:34] wwiecek commented on #62
@be-green I don't imagine you have time but namechecking you just in case -- but don't worry otherwise, I will check this in the coming weeks

[2020-05-12 17:12] be-green commented on #62
I am done with my masters the 19th, moved back from Texas the 24th, and then I'll have more time! Sorry, I've just been pulled in a million directions the last few months...

[2020-05-14 13:29] wwiecek commented on #62
Very much the same for us in London! This was a way of saying hello from a far rather than a "real" request. If you have some time to spare please ping me, but definitely ignore until then. I might name check you here and there so that you have an idea where it would be nice to have help but totally don't feel obliged.

[2020-05-14 13:48] wwiecek opened #64 "add risk difference outcome for binary data"

[2020-05-14 13:51] wwiecek opened #65 "automatically convert data for logistic model"
I want to be able to run summary data with logistic model as a one-liner, i.e. `baggr(df_yusuf, model = "logit")`

[2020-05-14 14:33] wwiecek opened #66 "Add bubble plots"
Want to add something similar to https://www.metafor-project.org/doku.php/plots:meta_analytic_scatterplot for baggr but in our default `ggplot` syntax.

Stub for the function:

[code]

[2020-05-21 15:07] wwiecek opened #67 "Effectts plot and forest plot for quantiles"
`Effect_plot is only possible for models with 1-dimensional treatment effects `
`forest_plot only works with 1-dimensional effects`

[code]

[2020-05-21 16:04] wwiecek commented on #67
For now this is disabled in `test_quantiles`, should re-enable once done

[2020-05-21 16:04] wwiecek commented on #67
Also in this category: `effect_draw` for quantiles model. It seems to work, but surely it is wrong, because dimensionality is wrong

[2020-05-22 10:12] wwiecek commented on #67
`effect_draw` is now fixed

[2020-05-30 16:30] wwiecek commented on #46
Cross-validation for logit model update:

[code]

This procedure requires to specify test data in such a way that baselines are in the sample and treatments are in test data. This needs to be explained in the manual and automated in `loocv()`

[2020-06-04 13:54] wwiecek opened #69 "Vectorise Stan operations to replace some for loops"
e.g. in `rubin.stan:47`:

[code]

[2020-06-04 17:20] wwiecek opened #70 "Check the contexts in which prepare_ma() is used"
Must make sure that 0 event corrections are not accidentaly applied in various steps of data prep

[2020-06-04 17:21] wwiecek opened #71 "Allow setting prior_control_sd"
In `logit` model

[2020-06-05 11:07] wwiecek commented on #70
I think in particular in `pooling`, e.g. `pooling.R:102`, we grab the SEs from `prepare_ma()`. But should we be using these precomputed SE's at all? This might be a mistake (not specific to logit model)

[2020-06-05 11:08] wwiecek commented on #70
Otherwise we're OK -- `prepare_prior()` uses `prepare_ma()`, but using corrections seems sensible to help us set the prior.

[2020-06-05 11:09] #71 closed

[2020-06-05 11:09] #65 closed

[2020-06-05 11:09] #63 closed

[2020-06-05 11:10] wwiecek commented on #46
It's now automated in `loocv()`

[2020-06-05 13:35] wwiecek commented on #70
Also check the context in which the automated warning is emitted.

[2020-06-06 10:21] wwiecek opened #75 "Fixes to baggr_compare()"
1) Add an option to return plot (plot=TRUE)
2) plot.baggr_compare returns a list, but typically it's a list of length 1, let's make it into a ggplot

[2020-06-15 12:53] wwiecek opened #77 "Documentation of effect_ functions"
From an email

This needs a check for v0.6

[2020-06-15 12:54] wwiecek commented on #77
@rmeager BTW this is where I log fixes like that

[2020-06-18 19:35] wwiecek opened #78 "Pre-compute vignette objects and store them"
Currently I run some `loocv` and `logit` models with `iter=500` but soon even this won't be enough. I could run and store outputs with `iter = 5000`

Could either store within package or at a stable online location (GitHub?)

[2020-06-18 19:36] #77 closed

[2020-06-19 08:19] wwiecek commented on #24
Seems that this is fixed in the latest version already, closing.

[2020-06-19 08:19] #24 closed

[2020-06-19 09:34] wwiecek commented on #37
The PPD with no data issue is now better documented in manuals, so I'm happy with the current solution. Renaming this issue to something else that's closely related.

[2020-06-19 10:29] wwiecek commented on #39
The documentation is now finished, closing

[2020-06-19 10:29] #39 closed

[2020-06-19 10:38] wwiecek opened #79 "Add priors on sigma_y_k for the full model"
Currently this is not even defined, which means the full model will give different behaviour to pooled model. See #57 for code example.

[2020-06-19 10:40] wwiecek commented on #57
This is now waiting for #58

[2020-06-19 10:42] wwiecek commented on #43
This is a duplicate of #57 now

[2020-06-19 10:42] #43 closed

[2020-06-19 10:42] #79 closed

[2020-06-19 10:49] #75 closed

[2020-06-19 10:51] #70 closed

[2020-06-19 11:01] wwiecek opened #80 "Review the way that transformations are made for treatment_effect()"
This might be wrong for non-linear transformations. What if I want to have mean and SD on exp scale via `treatment_effect()`?

[2020-06-19 11:05] wwiecek opened #81 "Fix codecov timeouts"

[2020-06-26 14:24] #52 closed

[2020-06-28 17:24] be-green commented on #78
Could we compute the stan models, store them via posteriordb and access them on github during the vignette compilation process?
https://github.com/MansMeg/posteriordb/tree/master/rpackage
That way we wouldn't need to run anything locally.

[2020-06-29 12:05] wwiecek commented on #78
I don't see much of an advantage in that. Or rather, I think it's maybe a solution if we were sure we wanted to store the results somewhere, but I thought we agreed that the first solution was to check if it is possible to submit precompiled Markdown packages in such a way that CRAN will not run all of the (lengthy) code. That is the only issue, I think.

AFAIK CRAN does use the precompiled doc an

[2020-06-29 13:58] be-green commented on #78
That's fair, just a passing thought when I was reading about the package.

[2020-06-29 16:36] wwiecek commented on #78
Sure -- didn't mean to shoot it down entirely!

[2020-07-06 17:42] be-green commented on #37
How are we thinking about default priors? Are priors assumed to only worked with scaled data? And how are we thinking about default priors on other parameters? Mostly just curious, but happy to help if it'd be useful.

[2020-07-10 15:16] wwiecek opened #83 "Calculation of pooling for "full" model is not Bayesian"
Solve together with #57

In `pooling_metrics.R` we use `group_effects(bg, summary = TRUE)[, "sd", 1]`. Instead, we should be using a full sample of group_effects, to take into account the variability and correlations alogn the chain.

DOesn't the same argument apply to `"rubin"` too?

[2020-07-16 14:41] wwiecek opened #84 "improve remove_data_for_prior_pred()"
Right now we need to name model-specific parameters when we add models:

[code]

We have a few options:

1. Write guidelines for model and review all models so that these names are more consistent
2. Go to `names.R` and for each model define what parameters need to be "zeroed"

[2020-07-28 20:39] wwiecek opened #85 "specifying interval for baggr_compare does nothing"

[2020-07-30 10:50] #85 closed

[2020-07-30 11:16] #80 closed

[2020-07-30 11:16] wwiecek opened #86 "Remove print.plot_list"
What is its purpose?

[2020-07-30 14:03] #62 closed

[2020-08-06 10:47] wwiecek opened #87 "Add what_priors() function"
As in `what_priors("rubin")` or `what_priors("sslab")`. This would print out names of allowed priors and explain what they do.

[2020-08-08 10:51] wwiecek opened #88 "Add logit transforms for print baggr"
For analysis log(odds), not just log(OR)'s

[2020-08-08 10:52] wwiecek opened #89 "Add factor covariates"

[2020-08-08 10:56] wwiecek commented on #89
Also some errors on `convert_inputs.R`:328

[code]

[2020-08-08 11:10] wwiecek opened #90 "No legend in baggr_compare ?"

[2020-08-28 09:10] wwiecek commented on #90
Can't replicate this anymore.

[2020-08-28 09:10] #90 closed

[2020-08-28 10:03] wwiecek opened #91 "Meta-regression model without intercept"
I'd like to specify a fixed-effect model without any REs and _without intercept_, i.e. `theta_k = beta*covariate_k` instead of `theta_k = beta*covariate_k + tau`.

[2020-08-31 12:48] wwiecek opened #92 "Custom parameter names in stanfit"
I noticed that `epidemia` package has a nice dynamic parameter naming convention:

![image](https://user-images.githubusercontent.com/20645798/91721376-8eb0f080-eb90-11ea-9f02-901ee4e4fb7f.png)

I wonder if we could do the same for future versions?

[2020-11-11 16:57] wwiecek opened #93 ""full" data model should be named as "individual""
There is discrepancy between documentation and syntax in `baggr()`

[2020-12-14 16:24] wwiecek opened #94 "Add study-specific weights in the model"
As per Rubin 1981. Rachael Meager says:

[2021-01-15 14:03] wwiecek commented on #93
This will be included in `devel_sslab` PR. Close this issue when merged. Naming convention is `"rubin_full"` instead of individual, less confusing with IPD this way.

[2021-01-15 17:34] wwiecek commented on #37
Use `normal(0, 10*sd(data$tau))` instead of `uniform(0, 10*sd(data$tau))` but also update the vignette

[2021-01-22 22:02] wwiecek opened #95 "Why divergent transitions under mu & tau model?"
[code]

I get 100 DTs here, even though the model is very basic -- why?

[2021-01-27 14:07] wwiecek commented on #95
@rmeager when you work on baggr next do you mind having a look?

[2021-01-27 15:41] #91 closed

[2021-01-27 15:43] wwiecek opened #96 "individual-level data mu & tau model"
In the next release (`sslab` branch) `rubin_full` and `logit` models use the same syntax that allows setting a prior on baselines -- but there is no option to do a joint prior on basekline and trt effect the same way we do it in mu & tau model; can we fix it?

Ideally
1) mu&tau would then have the same syntax as rubin_full
2) rubin_full could handle both a joint prior on bsl and trt effect, as wel

[2021-01-27 15:47] wwiecek commented on #96
If 2 independent priors, then specify via `prior_hypermean` and `prior_control` etc. If joint, then specify via `prior_hyper...` but set `joint=TRUE`?

[2021-01-27 15:48] wwiecek commented on #96
Then we would have to re-write the help files and "Prior choice in baggr"  in the [main vignette](https://cran.r-project.org/web/packages/baggr/vignettes/baggr.html)

[2021-02-04 13:04] wwiecek opened #97 "allow model="rubin" even if data has mu column"
[code]

gives a stupid error:

[code]

[2021-02-04 14:10] wwiecek commented on #97
There is code in `convert_inputs.R` that does this, but it may mess things up downstream, if other functions re-use `$data` from the resulting baggr object

[2021-02-04 14:15] #93 closed

[2021-02-04 15:14] #97 closed

[2021-02-04 15:35] wwiecek opened #98 "check cross-validation for IPD models"
Make sure that if leaving out group X, what happens is that estimation is done for control part of group X and then ELPD calculated for treatment part of group X

[2021-02-04 15:35] wwiecek commented on #98
This applies to `rubin_full` and `logit` both

[2021-02-04 15:44] wwiecek commented on #98
I checked that it works and wrote a test of syntax, but need to check correctness

[2021-02-08 16:43] wwiecek opened #99 "add a new diff-in-diff inspired example"
Based on the chicken brain data, showing

Rubin
a model with baselines
a model with baselines and joint prior
individual-level data model version of all of the above

[code]

[2021-02-11 19:09] rmeager commented on #95
This always had DTs, just like the old Rubin model example in stan always had DTs -- mea culpa on this. Inspecting the model code, it looks like we didnt re-center this model when we re-centered the Rubin model last year (or 2019), so it could just be that?

[2021-02-11 22:48] wwiecek commented on #95
Good call, I'll check if there is a simple fix and report back here

[2021-02-26 19:28] wwiecek commented on #95
the way i was checking this was actually a bit wrong, not the model itself; my current centered parameterisation idea is giving stupid results so it needs more work; I'm leaving this open because that model needs re-writing for various other reasons, but for the record, the current version should work fine too

[2021-02-26 19:45] wwiecek opened #101 "vignette titles fix"

[2021-03-11 13:01] wwiecek opened #102 "mu & tau model with covariates"
in the `mutau.stan` model there are no covariates

Additionally, it could be rewritten to use Cholesky decomposition parameterisation of multinormal models

[2021-03-15 20:08] wwiecek commented on #96
I had a stab at this but it seems to require a longer re-design. Should use the same Cholesky decomposition that I am planning for mu&tau model in #102

[2021-03-30 16:57] wwiecek opened #103 "model with an arbitrary of partially pooled parameters"
Below is an example. This would need more work and the main problem is that you can't have full pooling on some parameters and non-full on others.

[code]

[2021-05-07 16:03] #95 closed

[2021-05-07 20:20] #89 closed

[2021-05-07 20:35] #86 closed

[2021-05-07 21:53] wwiecek commented on #81
Here is a solution that may work: https://github.com/jpritikin/pcFactorStan/blob/master/tools/covr.R

It also seems that generating a report right after CRAN submission did not trigger a recompilation -- odd.

[2021-05-13 11:21] wwiecek commented on #81
This now works.

[2021-05-13 11:21] #81 closed

[2021-06-29 06:41] wwiecek opened #108 "Use model names in baggr_compare()"

[2021-06-29 07:30] wwiecek opened #109 "Add effect_draw into baggr_compare() print output"

[2021-08-15 15:56] bgoodri opened #111 "`example(baggr)` fails with new StanHeaders due to impossible initialization"
Currently, `example(baggr)` somehow works with the StanHeaders / rstan on CRAN but it really should not because `baggr` tries to use a uniform prior on the coefficients with both the lower bound and the upper bound equal to zero. Specifically, `stan_data` is
[code]
the last line for `prior_beta_val` is a vector of three zeros and the line before that indicates that the uniform prior is being used.

[2021-08-19 20:16] wwiecek commented on #111
Hi Ben! Thanks so much for this. The c(0,0,0) is faulty R code, I must have broken it with a recent update.
Will look into conditional bounds, but will start with a quick fix to R code alone---will submit to CRAN next week with some other bug fixes. Cheers, Witold

[2021-09-03 09:32] #111 closed

[2021-09-03 09:55] wwiecek commented on #50
This is now in the v0.6.9, but the next step is to add `baggr_compare(strata = "covariate") type syntax, which also groups outputs by levels of a given covariate

[2021-09-03 11:10] #50 closed

[2021-10-24 13:22] roboton opened #113 "data is summarized by prepare_ma and no longer contains covariates at this point of prepare_prior"
https://github.com/wwiecek/baggr/blob/e186fe8cbe3d5bc239d33f4b8b22c914c4527869/R/auto_prior.R#L224

I am trying to run an individual meta-analysis model with covariates and get an error because covariates can't be set since the `data` has been overwritten by a summary aggregate which no longer contains the individual level covariate.

@mattlowes

[2021-11-18 19:39] wwiecek commented on #113
Hi @roboton and @mattlowes thank so much for bringing this up and sorry to get back to you late. The summary of individual data behaviour has been updated in the last 2 versions so very likely it just needs a simple fix, I will try to get to this soon.

[2021-11-19 17:49] wwiecek commented on #113
I think this is now fixed in #114 which is pending checks and submission to CRAN in a few weeks. You can install from `devel` branch in the meantime if you want to fit models.

[2021-11-19 17:49] #113 closed

[2021-11-19 17:52] wwiecek commented on #94
[code]

[2021-11-19 22:41] wwiecek opened #115 "print correlation in mu & tau models"
Consider

[code]

When printing `bg` I want to see a separate line that would tell me what is the correlation between `mu` and `tau` (mean and 95% interval), the same way it tells me what hypermean and hyper-SD are. This can be obtained from `bg$fit`, but I'm forgetting which elements I need to extract right now.

[2021-11-20 01:01] wwiecek opened #116 "visualise LOO CV"
A plot where each row corresponds to study/group, each row showing (1) interval of hypermean in a LOO model, (2) point estimate (and maybe interval) for that group

[2021-11-20 14:42] roboton commented on #113
Thank you for all your work on baggr! cc'ing my coauthors who would be
excited to hear of this fix. @Raissa Fabregas ***@***.***>
 and @Giulia Zane ***@***.***>.

Appreciate the support!

Best, Rob

On Fri, Nov 19, 2021, 9:50 AM Witold Więcek ***@***.***>
wrote:

[2021-11-24 15:01] wwiecek commented on #113
Thanks. Please say hi to Raissa from me!

[2021-12-12 13:30] homataheri opened #117 "remove quantreg dependency"
Today I experienced this error message while installing the baggr package.

![Screen Shot 2021-12-12 at 08 28 55](https://user-images.githubusercontent.com/76602959/145714249-f6edac5d-92b2-4423-bd55-1373e80fcfcd.png)

[2021-12-13 08:51] wwiecek commented on #117
Thanks, looks like purely a `quantreg` installation issue. I'd recommend trying to install it first (`install.packages("quantreg")` will not require compilation of package from source). You may need to move to R version 4. Then installing baggr. Please let me know how that goes. The next version of `baggr` may remove dependence on quantreg package as it is currently not needed.

[2021-12-14 14:52] homataheri commented on #117
Thank you, Witold. I just started learning R last week, so there are many unknowns to me.
I realized that I need to install R, before working with R-Studio. I installed R and then installed the baggr, and it worked.

Thank you again for this great work.

[2021-12-14 14:55] wwiecek commented on #117
Glad it worked, good luck with R! Please me know if you run into any trouble.

I will use this GitHub issue as a reminder to remove `quantreg` dependency in the future

[2021-12-14 18:04] wwiecek opened #118 "binary_to_individual fails with non-integer inputs"
Must add a check that counts in all cells are integers

[2021-12-15 11:11] wwiecek opened #119 "in baggr_compare allow for comparison of hypermeans only"

[2021-12-15 18:07] #119 closed

[2021-12-15 18:22] #118 closed

[2021-12-16 18:18] #117 closed

[2021-12-17 17:12] wwiecek opened #120 "Preserve order of groups between input and outputs"

[2021-12-17 17:14] wwiecek commented on #120
`prepare_ma` can break ordering of groups---can anything else?

[2021-12-21 14:56] #94 closed

[2021-12-21 15:01] wwiecek commented on #57
Solved on `devel` branch

[2021-12-21 15:01] #57 closed

[2021-12-21 15:31] wwiecek commented on #58
Done in 0.6.16

[2021-12-21 15:31] #58 closed

[2021-12-21 15:34] wwiecek commented on #8
Quantiles modeling is now disabled in the package, so I assume this won't be done for a long time

[2021-12-21 15:35] wwiecek commented on #8
Quantiles modeling is now disabled in the package, so I assume this won't be done for a long time

[2021-12-21 15:35] #8 closed

[2021-12-21 15:35] wwiecek commented on #11
Quantiles modeling is now disabled in the package, so I assume this won't be done for a long time

[2021-12-21 15:35] #11 closed

[2021-12-21 15:40] wwiecek commented on #46
I think this is now done for `full_mutau` too, closing

[2021-12-21 15:40] #46 closed

[2021-12-22 14:21] wwiecek commented on #116
This will be added in v0.6.16 but now we need to do `plot.compare_baggr_cv`, a type of comparison that can work on multiple models (same plotting style, just need to go through a list of models)

[2021-12-24 07:49] wwiecek opened #121 "binary outcome data without grouping column"
[code]

For Rubin model it's automatically added, but for prepare_ma apparently not

[2021-12-24 07:53] wwiecek opened #122 "Grab prior from one baggr model and reuse in another"

[2021-12-24 08:06] wwiecek opened #123 "Add risk difference models to baggr"

[2021-12-28 10:34] wwiecek opened #124 "Default tniform hypersd prior fails with small effect sizes / small SEs"

[2021-12-28 10:35] wwiecek commented on #123
Done in v0.6.17

[2021-12-28 10:35] #123 closed

[2021-12-28 10:35] wwiecek opened #125 "baggr_compare with RD (Rubin) and OR (e.g. logit) models fails"

[2022-01-03 08:41] wwiecek opened #126 "update priors section of the main vignette"

[2022-02-15 14:18] wwiecek opened #127 "prepare_ma() re-orders studies when generating IPD"

[2022-02-24 15:23] wwiecek commented on #120
Fixed in #129

[2022-02-24 15:24] wwiecek commented on #32
Done in #129

[2022-02-24 15:24] #32 closed

[2022-02-24 15:31] wwiecek commented on #55
Fixed in #129

[2022-02-24 15:31] #55 closed

[2022-02-24 15:33] #83 closed

[2022-02-24 15:46] wwiecek commented on #121
Currently, in `group_effect.R:43`

[code]

This should be done inside `convert_inputs.R` and preferably where I currently say `"does not exist in data. No labels will be added"`

[2022-02-24 15:48] wwiecek commented on #122
Replica of #87

[2022-02-24 15:49] #54 closed

[2022-03-03 11:23] wwiecek opened #130 "intervals and column order in group_effects"
(1) consistently refer to `intervals` or `probs` or `int`
(2) allow for multiple `probs` to be printed in `print.baggr` or `group_effects`
(3) avoid integer indices references to `group_effects` columns, e.g. see in `print_baggr.R:140`:

[code]

This will break things when we introduce multiple `probs`.

[2022-03-09 09:15] wwiecek opened #131 "baggr_compare with "effects" doesn't apply transform"
see `plot(bgc, compare = "effects", transform=exp) + theme(legend.direction = "vertical")`

[2022-03-09 15:53] wwiecek commented on #131
It also fails when trying to do SD calculation with transform=exp for binary outcomes?

[2022-03-18 11:42] wwiecek opened #132 "logit model with covariates"
update to `binary_to_individual()` broke the case of running logit model with covariates where input is summary data
fix and write unit tests

[2022-03-28 09:15] wwiecek opened #133 "meta-regression model without intercept"

[2022-04-01 09:16] wwiecek opened #134 "say how many studies in baggr summaries"

[2022-04-04 15:52] wwiecek opened #135 "covariate(s) not labelled when running rubin_full model"
e.g.

[code]

[2022-04-04 16:24] bob-carpenter opened #136 "stan code suggestions"
Someone asked me to take a look at this repo and I have some suggestions for improving Stan code efficiency.

### baggr/inst/stan/functions/prior_increment.stan

I'd suggest rewriting it as follows for efficiency and clarity:

[code]

and then call the prior in code as:

[code]

The use of `lupdf` instead of `lpdf` will drop the normalizing constants.  And the direct return cuts out the very expen

[2022-04-05 18:32] wwiecek commented on #135
SHould also change the print. for when working with meta-regressions, to make sure ppl can recognise when the model is and isn't meta-reg more easily

[2022-04-21 10:51] wwiecek opened #137 "add R^2 calculations"

[2022-04-23 07:08] #134 closed

[2022-04-23 07:08] #135 closed

[2022-04-23 07:49] #133 closed

[2022-04-25 07:52] wwiecek commented on #124
You can also experiment with increasing/decreasing SD on tau and then playing with `x` in `prior_hypersd = uniform(0, x)`. You'll see that at smaller scales it has a problem

[2022-04-25 07:53] wwiecek commented on #124
Resolving this should probably wait for when we are deciding on new default priors

[2022-04-26 09:06] wwiecek opened #138 "Remove nuisance parameters for very large meta-analyses"
Something like `baggr(schools, pars = c("theta_k", "eta"), include = FALSE)` but the list of pars will differ depending on model, so automate this via argument `remove_pars = TRUE`.

Then you must ensure that the thing works without `m <- rstan::extract(bg$fit, pars = "theta_k")[[1]]` in `group_effects` and instead prints out "effects for groups have not been saved" or something like that.

[2022-04-27 10:28] wwiecek opened #139 "Default prior for hyperSD, sigma and beta parameters"
My personal reading list for this:

* rstanarm defaults: https://cran.r-project.org/web/packages/rstanarm/vignettes/priors.html
* [Chapter 12 of ROS](https://users.aalto.fi/~ave/ROS.pdf)
* Zwet, Erik van, and Andrew Gelman. ‘A Proposal for Informative Default Priors Scaled by the Standard Error of Estimates’. The American Statistician 0, no. 0 (8 June 2021): 1–9. https://doi.org/10.1080/00031305.2

[2022-04-27 10:29] wwiecek commented on #37
Replaced by #139

[2022-04-27 10:29] #37 closed

[2022-05-18 17:08] wwiecek commented on #132
Will be fixed in #140, with new unit tests

[2022-05-18 17:08] #132 closed

[2022-05-18 17:28] wwiecek commented on #121
Other fixes in #140 are currently throwing this off. I get different problems depending on whether I go `baggr(df, model = "rubin")` or `baggr(df, model = "logit")`. This snippet, convert_inputs:103 to blame:

[code]

[2022-06-07 08:40] wwiecek commented on #137
Note: frequentist heterogeneity estimates (and hence R^2) will very easily tend toward extremes and therefore be misleading. See this example:

[code]

Try changing SE to 0.1, 0.5, 1, 2 etc. and see how R^2 seems to only be estimated similarly to `lm` when SE is very low

[2022-06-09 09:40] wwiecek commented on #69
Dealt with in #136

[2022-06-09 09:40] #69 closed

[2022-06-09 09:44] wwiecek commented on #139
Could also add `prior_summary()` function like in _rstanarm_

[2022-06-09 10:30] wwiecek opened #141 "alias effect_draw and posterior_predict()"
To bring this in line with other rstan packages.

[2022-06-18 15:49] wwiecek commented on #141
What if `newdata` has logical type columns but either FALSE or TRUE is not present? Will model.matrix not break things?

[2022-06-21 11:21] wwiecek commented on #141
Update: as of 0.7.1 we only need to implement the third bulletpoint in the list above.

[2022-06-21 11:22] wwiecek opened #142 "add prior_summary() for baggr models"

[2022-06-21 11:39] wwiecek opened #143 "explain how transform works on parameter and sometimes on generated quantity"
For `treatment_effect` we transform $tau$, whereas for `effect_draw` it's the p.p.dist that gets transformed. Should explain this in the documentation.

[2022-06-21 11:44] #131 closed

[2022-06-23 09:30] wwiecek opened #144 "new vignette "Working with baggr results" (?)"
For v0.8. Take forest plots, pp_check, various types of baggr comparison plots, plots specific to binary data and dump it into a gallery-like vignette

[2022-06-23 09:35] wwiecek commented on #144
Maybe also a vignette that differentiates between ATE (current baggr vignette) and general overview of meta-analysis (without ATE interpretation).

[2022-06-23 10:07] wwiecek commented on #136
@bob-carpenter thanks so much again for these suggestions. Just wanted to let you know that some of them have been implemented in devel (see #140). They were incredibly helpful and I cut the runtime by up to 50% by implementing.

I will use lupdf eventually but for now my understanding is that rstan (currently 2.21.5 on CRAN) does not support this.
Revision of `mutau` file you commented on will be

[2022-06-23 11:41] wwiecek opened #145 "use hypermean(), hypersd() to refer to treatment_effects()"
Currently `treatment_effects` typically returns a list of length two, first element is the hypermean and the second element is hyper-SD. (For more complicated models this may change, but for the typical models we have now this holds.)

Add functions `hypermean()` and `hypersd()` which work like `treatment_effects()[[1]]` and `[[2]]` respectively, then change the package syntax (code of functions),

[2022-06-23 13:46] wwiecek opened #146 "incorporate power calculations for meta-analysis into baggr"
Or maybe into the manuals. First compare with existing approaches:

* [Calculating the Statistical Power of Studies Included in a Meta-Analysis Using {metameta}](https://www.youtube.com/watch?v=HIHE2ju5J1Y)

* [How to effortlessly calculate the statistical power of studies included in a meta-analysis](https://www.youtube.com/watch?v=hnJxJAubOt4)
* [How to calculate statistical power for your meta-

[2022-06-23 21:02] bob-carpenter commented on #136
I would strongly suggest moving to cmdstanr if you don't need direct access to log densities or gradients.  It keeps up to date with Stan.  CRAN has basically blocked further Stan releases with a combination of their small max package size and lack of dependency management.

[2022-06-29 16:39] wwiecek commented on #136
Thanks! I have been using it for my ad hoc work but haven't looked into how it interacts with R packages that contain compiled code. I will do so soon, so will keep this issue open until then.

[2022-06-30 11:09] wwiecek opened #147 "fixed effects slow logit model down a few-fold"
Investigate this

[2022-11-28 14:32] wwiecek opened #148 "covariates with NAs will crash baggr with no error msg"
e.g.

[code]

Provide informative error message that warns user that some values are NA and the model therefore won't run. Check for both categorical and continuous covariates and write some unit tests for this